.heroAndSidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.greetingText {
  font-family: "Pompiere";
  color: #e3ca3c;
  font-size: 2rem;
}

.nameText {
  font-family: "Rammetto One";
  color: #fff;
  font-size: 3rem;
}

.domainText {
  font-family: "poppins";
  color: #fff;
  font-size: 2rem;
}

.tagLine {
  font-family: "montserrat";
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSectionImage {
  position: absolute;
}

.sidebar {
  position: absolute;
  right: 4rem;
}
