.sidebarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  padding: 1.5vw 1vw;
  background-color: #fff;
  border-radius: 5vw;
}

.sidebarLinks {
  font-size: 2vw;
  text-decoration: none;
  color: #0a0116;
  transition: 0.2s ease;
}

.sidebarLinks:hover {
  color: #e3ca3c;
}
