.sidebarContainer {
  position: fixed;
  top: 0vw;
  left: 0;
  min-height: 100%;
  width: 5vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  padding: 1.5vw 0vw;
  border-right: 0.1vw solid #e3ca3c;
}

.menuLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
}

.brandName {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3vw;
  color: #ffffff;
  text-decoration: none;
  padding: 0vw 0.9vw;
}

.sidebarLinks {
  font-family: "montserrat";
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-size: 1vw;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}

.sidebarLinks:hover {
  color: #e3ca3c;
}

.hamburgerButton {
  padding: 1vw;
  background-color: transparent;
  border: none;
  display: none;
}

.hamburgerBar {
  width: 12px;
  height: 1px;
  background-color: #fff;
  transition: all ease-in-out 0.5s;
}

.topBar {
  margin-bottom: 2px;
}

.bottomBar {
  width: 8px;
  margin-top: 2px;
}

.transformToCross.topBar {
  transform: rotate(60deg);
  margin: 0;
}

.transformToCross.bottomBar {
  width: 12px;
  transform: rotate(-60deg);
  margin: 0;
}

@media screen and (max-width: 480px) {
  .hamburgerButton {
    display: block;
  }
}
