.contactSection {
  padding: 2% 3%;
}

.contactHeader {
  position: relative;
  font-family: "Rammetto One";
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactHeader h1 {
  color: #fff;
}

.socialAndFormContainer {
  padding: 2% 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.socials a {
  text-decoration: none;
  color: #e3ca3c;
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.socialIcons {
  font-size: 2vw;
}

.socialText {
  color: #fff;
  font-family: "montserrat";
  font-size: 1.5vw;
}

.formContainer {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.formContainer input,
textarea {
  padding: 0.5vw 0.6vw;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 0.2vw solid #e3ca3c;
  font-size: 1vw;
  font-family: "montserrat";
  color: #e3ca3c;
}

.formContainer input::placeholder {
  color: #e3ca3c;
}

.formContainer textarea::placeholder {
  color: #e3ca3c;
}

.formContainer textarea {
  resize: none;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.buttonContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e3ca3c;
  font-size: 2vw;
}

@media (max-width: 768px) {
  .socialAndFormContainer {
    align-items: start;
  }

  .socials {
    align-items: start;
  }

  .formContainer {
    width: 50vw;
  }

  .formContainer input,
  textarea {
    font-size: 2vw;
  }

  .buttonContainer button {
    font-size: 3vw;
  }
}
